.detail-section {
    width: 1439px;
    height: 902px;
    padding-top: 50px;
    margin-top: 200px;
    text-align: center;
    align-items: center;
}

.detail-section__heading {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    /* Adjusted for better spacing */
    text-align: center;
    margin-bottom: 80px;
}

.highlight {
    color: #0fa958;
}

.detail-section__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Two columns per row */
    gap: 20px;
    /* Gap between cards */
    width: 100%;
    max-width: 1200px;
    /* Optional max width to constrain the layout */
    margin: 40px auto;
    /* Center the grid container horizontally */
}