/* Naavbar.css */

.custom-navbar {
    background-color: #ffffff;
    height: 64px;
    padding-left: 89px;
    padding-top: 13px;
}

.navbar-container {
    max-width: 1441px;
}

.navbar-logo {
    width: 87px;
    height: 38.11px;
    position: relative;
    top: 13px;
    left: 89px;
}